# ONE去开屏
# 软件下载地址：https://onesp.app/
# 作者：林泽
# 更新时间：2024-2-1 11:45:30
# 随缘维护
[rewrite_local]
^https?:\/\/api\.\w+\.com\/v2.5\/(ad\/space|panda\/popup) url reject
[mitm]
hostname = api.9cbd862.com, api.4c86d03.com, api.8eb269a.com, api.979bb9e.com, api.a9a2bc4.com, api.b675211.com